@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --primary: #d8d8d8;
  --secondary: #c7c7c7;
  --action: #ff4500; /* Orange/Red vivid */
  --primaryText: #ffffff;
  --secondaryText: #000000;
  --actionText: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1d1d1d;
    --secondary: #363636;
    --primaryText: #ffffff;
    --secondaryText: #ffffff;
  }
}

body {
  background: var(--secondary);
  color: var(--secondaryText);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
