@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --font-sans: var(--font-outfit);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

:root {
  --primary: #ffffff;
  --secondary: #f1f1ef;
  --action: #ff4500; /* Orange/Red vivid */
  --primaryText: #373530;
  --secondaryText: #787774;
  --actionText: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #191919;
    --secondary: #252525;
    --primaryText: #d4d4d4;
    --secondaryText: #9b9b9b;
  }
}

body {
  background: var(--secondary);
  color: var(--secondaryText);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
