@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #ebebeb;
  --text: #171717;
  --action: #eb4416;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-textColor: var(--text);
  --color-action: var(--action);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0a0a0a;
    --secondary: #262626;
    --text: #ffffff;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
